<style>
body{
    background-color: 212121;
    align-items: center;
}


.card-container{
    padding: 10px;
}
.hearddit-card{
    
    max-width: 900px;
    padding: 10px;
    background-color: 535353;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.subtitle{
    padding-top: 0%;
    font-size: 15px;
    margin-top: 0;
}

.content{
    font-size: 15px;
}

.hearddit-card .title{
    color: white;
}

.hearddit-card .subtitle{
    color: b3b3b3;
}

.hearddit-card .content{
    color: white;
}

</style>

<body>
    
<div class="card-container">
<div class="hearddit-card">
      <h3 class="title">Title</h3>
      <h2 class="subtitle">SubStitle</h2>
      <p class="content">Content</p>
</div>
</div>

</body>