{%extends '_layout.html'%}
{%block body%}
<div class="container">
  <div class="row d-flex pt-5 justify-content-center">
      <div class="hearddit-card-account">
          <div class="card-header d-flex flex-column">
            <div class="title">Comment</div>
            <!-- Form should contain text and a checkbox for the flag. -->
            <hr>
            </div>
        <form action="/post/int:post_id/comments" method="post">
            <!-- Different div classes for each form element. -->
            <div class="form-row com col-md-6">
                <label for="comment">Comment</label>
                <input type="text" class="form-control mt-1" id="comment" aria-describedby="comment" placeholder="Text" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}