{% extends '_layout.html' %}

{% block title %} Create Post | Create New Post{% endblock %}

{% block body %}
<h1 class="mb-5">Post Title</h1>
<br>
<p class="mb-3">Text</p>
<br>
<!-- Only need the title and text for the form. -->
<form action="/create/post" method="post">
    <div class="mb-3">
        <label for="post_title" class="form-label">Title</label>
        <input type="text" name="post_title" id="post_title" class="form-control" autocomplete="off" requried>
    </div>
    <br>
    <div class="mb-3">
        <label for="post_text" class="form-label">Text</label>
        <input type="text" name="post_text" id="post_text" class="form-control" autocomplete="off" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
{% endblock %}